<a href="https://colab.research.google.com/github/Mangai2024/Telco-Customer-churn/blob/main/Telco_Customer_Churn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.import libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import  train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [ ]:
#2.Load Data
df=pd.read_csv("//content/Telco_Customer_Churn.csv")

In [ ]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [ ]:
df.isnull().sum().astype(int)

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [ ]:
(df== " ").sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [ ]:
#3.Special Placeholders ("?", "NA", "null")
df.isin(["?", "NA", "N/A", "null", "NULL"]).sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [ ]:
# 4.convert blanks to numeric
df['TotalCharges']= pd.to_numeric(df['TotalCharges'], errors='coerce')

In [ ]:
#5.Drop
df = df.dropna(subset=['TotalCharges']).reset_index(drop=True)

In [ ]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [ ]:
#Drop unwanted columns like customer id
df=df.drop(columns=['customerID'])

In [ ]:
#6.Split features and Target
x = df.drop("Churn", axis=1)
y=df['Churn']

In [ ]:
#7.Encode Categorical Variabels(features
binary_cols = ['gender', 'Partner', 'PhoneService']
x[binary_cols] = x[binary_cols].apply(LabelEncoder().fit_transform)

In [ ]:
#8.one hot encode for multi features
x=pd.get_dummies(x, drop_first=True)

In [ ]:
#9.Encode Target Column
y=y.map({"Yes":1, "No":0}).astype(int)

In [ ]:
#10. train_test_split(avoid leakage byscaling after split
x_train, x_test, y_train, y_test=train_test_split(
    x,y, test_size=0.2, random_state=42, stratify=y
)

In [ ]:
#feature scaling(fit on train, transform test)
scaler=StandardScaler()
x_train= pd.DataFrame(scaler.fit_transform(x_train), columns=x_train.columns, index=x_train.index)
x_test=pd.DataFrame(scaler.transform(x_test), columns=x_test.columns, index=x_test.index)

In [ ]:
#Train a model
# Train Logistic Regression
lr = LogisticRegression(max_iter=1000)
lr.fit(x_train, y_train)

# Train Random Forest
rf = RandomForestClassifier(random_state=42)
rf.fit(x_train, y_train)

# ==== Predict ====
# Logistic Regression Predictions
y_pred_lr  = lr.predict(x_test)
y_proba_lr = lr.predict_proba(x_test)[:, 1]

# Random Forest Predictions
y_pred_rf  = rf.predict(x_test)
y_proba_rf = rf.predict_proba(x_test)[:, 1]

In [ ]:
print("Logistic Regression:")
print("  Accuracy :", accuracy_score(y_test, y_pred_lr))

Logistic Regression:
  Accuracy : 0.8038379530916845